/* Modal form */
@-webkit-keyframes modalopen {
  from {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

/* ===== Button Submit de la modal =====*/
.button {
  background: var(--bg-red-secondary);
  margin-top: 0.5em;
  padding: 1em;
  color: var(--color-white);
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  /* on modifier le timing du hover */
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.button:hover {
  background: var(--bg-blue-primary);
}
.btn-submit,
.btn-signup {
background: var(--bg-red-secondary);
display: block;
margin: 0 auto;
border-radius: 7px;
font-size: 1rem;
padding: 12px 82px;
color: var(--color-white);
cursor: pointer;
border: 0;
}

/* ===== FIN =====*/

/*n'existe pas */
.smFont {
font-size: 16px;
}
/* =========================================== */
/* ========= MODAL VALIDATION ENVOIE ========= */
/* =========================================== */

.wrapper-modal-confirmation {

position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(26, 39, 156, 0.4);
}
.wrapper-modal-confirmation-content {
margin: 5% auto;
width: 100%;
height: 500px;
max-width: 500px;
-webkit-animation-name: modalopen;
        animation-name: modalopen;
-webkit-animation-duration: var(--modal-duration);
        animation-duration: var(--modal-duration);
background: var(--bg-black-primary);
border-radius: 10px;
overflow: hidden;
position: relative;
color: var(--color-white);
padding-top: 10px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
display: -webkit-flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
#modalConfirmation{
color:var(--bg-red-primary);
text-align: center;
}
/* =========================================== */
/* ================== FIN ==================== */
/* =========================================== */

/* ===== Style de la modal =====*/  
.bground {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(26, 39, 156, 0.4);
}

.content {
margin: 5% auto;
width: 100%;
max-width: 500px;
-webkit-animation-name: modalopen;
        animation-name: modalopen;
-webkit-animation-duration: var(--modal-duration);
        animation-duration: var(--modal-duration);
background: var(--bg-black-primary);
border-radius: 10px;
overflow: hidden;
position: relative;
color: var(--color-white);
padding-top: 10px;
}

.modal-body {
padding: 15px 8%;
margin: 15px auto;
}

label {
font-family: var(--font-default);
font-size: 17px;
font-weight: normal;
display: inline-block;
margin-bottom: 11px;
}
input {
padding: 8px;
border: 0.8px solid #cccccc;
outline: none;
}

/* ====  classe INPUT NOM/PRENOM/QUANTITY/AGE/EMAIL ==== */

/* ===== Message erreur saisie utilisateur ===== */
.msg-input-error{
color: var(--bg-red-primary);
font-size: 16px;
margin: 0;
}

.text-control {
margin: 0;
padding: 8px;
width: 100%;
border-radius: 8px;
font-size: 20px;
height: 48px;
}

/* ====  FORMDATA / ERROR ==== */
.formData[data-error]::after {
content: attr(data-error);
font-size: 0.4em;
color: #e54858;
display: block;
margin-top: 7px;
margin-bottom: 7px;
text-align: right;
line-height: 0.3;
opacity: 0;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
border: 2px solid #e54858;
}
input[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: var(--bg-red-primary);
}

/* ====  STYLE CHECKBOX ==== */

.checkbox-label,
.checkbox2-label {
position: relative;
margin-left: 36px;
font-size: 12px;
font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
display: block;
width: 20px;
height: 20px;
border: 2px solid var(--color-green);
border-radius: 50%;
text-indent: 29px;
white-space: nowrap;
position: absolute;
left: -30px;
top: -1px;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
content: "";
width: 13px;
height: 13px;
background-color: var(--color-green);
border-radius: 50%;
text-indent: 29px;
white-space: nowrap;
position: absolute;
left: 47%;
top: 48%;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
opacity: 0;
}
.checkbox-input {
display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
background: var(--color-green);
}
.checkbox2-label .checkbox-icon {
border-radius: 4px;
border: 0;
background: var(--bg-body);
}
.checkbox2-label .checkbox-icon::after {
width: 7px;
height: 4px;
border-radius: 2px;
background: transparent;
border: 2px solid transparent;
border-bottom-color: var(--color-white);
border-left-color: var(--color-white);
-webkit-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
        transform: rotate(-55deg);
left: 21%;
top: 19%;
}

/* ====  BTN CLOSE MODAL ==== */
.closeMsgValidation,
.close {
position: absolute;
right: 15px;
top: 15px;
width: 32px;
height: 32px;
opacity: 1;
cursor: pointer;
-webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
        transform: scale(0.7);
}
.closeMsgValidation:before,
.closeMsgValidation:after,
.close:before,
.close:after {
position: absolute;
left: 15px;
content: " ";
height: 33px;
width: 3px;
background-color: var(--color-white);
}
.closeMsgValidation:before,
.close:before {
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}
.closeMsgValidation:after,
.close:after {
-webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
}


/* custom select styles */
.custom-select {
position: relative;
font-family: Arial;
font-size: 1.1rem;
font-weight: normal;
}

.custom-select select {
display: none;
}
.select-selected {
background-color: var(--color-white);
}

/* Style the arrow inside the select element: */
.select-selected:after {
position: absolute;
content: "";
top: 10px;
right: 13px;
width: 11px;
height: 11px;
border: 3px solid transparent;
border-bottom-color: var(--bg-red-primary);
border-left-color: var(--bg-red-primary);
-webkit-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
        transform: rotate(-48deg);
border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
-webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
top: 13px;
}

.select-items div,
.select-selected {
color: var(--color-black);
padding: 11px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
border-radius: 8px;
height: 48px;
}

/* Style items (options): */
.select-items {
position: absolute;
background-color: var(--color-white);
top: 89%;
left: 0;
right: 0;
z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
display: none;
}

.select-items div:hover,
.same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}

/* custom select end */
.text-label {
font-weight: normal;
font-size: 16px;
}