:root {

    /*=== Background COLOR===*/
    --bg-body: #c4c4c4;
    --bg-red-primary: #ff0000;
    --bg-red-secondary : #fe142f;
    --bg-blue-primary : #3876ac;
    --bg-black-primary: #232323;

    /*=== COLOR Page ===*/
    --color-black: #000000;
    --color-white : #ffffff;




    /*=== ===*/

    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}
